<div class="home__container">
	<app-card
		gameCover="assets/battlefield.jpg"
		gameDetail="DIGITAL"
		gameName="Battlefield 1"
		gameTitle="Digital PS4"
		gamePrice="369,90"/>
	<app-card
		gameCover="assets/gta-v.jpg"
		gameDetail="EXCLUSIVE"
		gameName="GTA V"
		gameTitle="Digital PS4"
		gamePrice="249,50"/>
	<app-card
		gameCover="assets/nfs.jpg"
		gameDetail="EXCLUSIVE"
		gameName="Need For Speed - Rivals"
		gameTitle="Digital PS5"
		gamePrice="126,50"/>
	<app-card
		gameCover="assets/knack.jpg"
		gameDetail="DIGITAL"
		gameName="KNACK"
		gameTitle="Digital PS5"
		gamePrice="169,90"/>
</div>
